#header {
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .logo {
    // BRUTAL START
    // font-family: Chancery, cursive, LiSu, sans-serif;
    // BRUTAL END
    font-weight: 400;

    a {
      // BRUTAL START
      // color: #34495e;
      // BRUTAL END
      font-size: 42px;
      // BRUTAL START
      color: black;
      text-decoration: none;
      // BRUTAL END
    }
  }

  .menu {
    align-self: flex-start;
    font-family: $decoration-font-family;

    ul {
      display: inline-block;
      padding-right: 25px;

      li {
        display: inline-block;
        margin-right: 5px;
        // BRUTAL START
        // @include underline-from-center;
        //
        // a {
        //   color: #34495e;
        //   font-size: 18px;
        // }
        // BRUTAL END
      }
    }
  }
}
@include max-screen() {
  #header {
    .logo, .menu {
      display: none;
    }
    padding: 50px 0 0;
    text-align: center;
  }
}
